CMakeLists.txt.user
build*
build-FEMproject-Desktop_x86_windows_msvc2019_pe_64bit-Debug
build-FEMproject-Desktop_x86_windows_msvc2019_pe_64bit-Release
build-FEMproject-MSVC-Debug
build-FEMproject-MSVC-Release
__pycache__
.README.md.swp
